* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.scale-up {
  animation: scaleUp 1s ease-out forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
  /* 6 soniyada to‘liq aylanish */
}


@import "tailwindcss";